@import url('https://fonts.googleapis.com/css2?family=Poppins');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

/* Remover depois */
img {
    width: 100px;
}

/* Configurao Classes Dinamicas */

.Wrapper {
    background-color: #222;
    display: flex;
    height: 800px;
    width: 70%;
}

.FlexColumn {
    display: flex;
    flex-direction: column;
}

.FlexRow {
    display: flex;
    flex-direction: row;
}

.FlexBetween {
    display: flex;
    justify-content: space-between;
}

/* CONFIGUTAÇÃO CONTAINER DOS CONTATOS */

/* Componente Title */
.ContainerContact {
    background-color: #0e7aef;
    border-radius: 10px;
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    width: 25%;
}

.ContactTitle {
    padding-bottom: 20px;
}

.ContactTitleText h1,
.ContactNew {
    font-size: 24px;
    text-transform: uppercase;
}

/* Componente Search */
.ContactSearch {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 100%;
}

.ContactSearchInput {
    height: 45px;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: RGBA(204,204,204,0.5);
}

.ContactSearchInput::-webkit-input-placeholder { 
    color: white;
}
  
.ContactSearchInput:-ms-input-placeholder { 
    color: white;
}
  
.ContactSearchInput::placeholder {
    color: white;
}

.ContactSearchInput:focus {
    color: white;
    outline: none;
}

/* Componente Menu Contacts */
.ContactMenu {
    display: flex;
    font-size: 24px;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 20px;
}


/* Configurao Container de Messages */

.ContainerChat {
    width: 50%;
    background-color: #f1f3f4;
}

/* Configurao Container dos Users Info */v

.ContainerUserInfo {
    background-color: white;
    width: 25%;
}

.ContactPhoto {
    margin-right: 10px;
}

.ContactPhoto img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}